* {
    margin: 0;
    padding: 0
}

.main {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.game {
    border: 1px solid red;
    display: flex;
    width: 80%;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.card {
    border: 1px solid red;
    width: 5rem;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}